<link rel="stylesheet" href="/css/tags.css">
<div class="with-indention-votebar">
<%= erb :tag_area %>

<div id="question-title">
  <h2 class="item-title"><%= @question.name %></h2>
</div>

<div id="question-detail" class="rich-text">
  <p><%= @question.description %></p>
</div>

<div id="question-footer meta-panel">
  <a class="meta-item" href="javascript:;">评论</a>
</div>

<div class="answers-title">
  <h3 id="question-answer-num"><%= "#{@question.answers.length}个回答" %></h3>
</div>

<div id="question-answer-wrap" class="question-answer-wrapper">
  <% @question.answers.each do |answer| %>
    <%= erb :answer, :locals => { answer: answer } %>
  <% end %>
</div>

<%= if session[:user] && @question.answers.find_by(user_id: session[:user].id)
     '<span>一个问题只能回答一次</sapn>'
   else
     erb :answer_form
   end
%>
</div>
<script type="text/javascript" src="/js/tags.js"></script>

