<div class="tag_area">
  <div class="tags">
    <% @question.topics.each do |t| %>
      <div class="tag"><a href="/topic/<%= t.id %>"><%= t.name %></a></div>
    <% end %>
    <a class="meta-item call-tag-editor" href="javascript:;" id="edit_tags">修改话题</a>
  </div>
  <script class="tags-editor-tmp" type="text/template">
  <div class="tags-editor">
    <div class="tags-editor-wrapper">
    <div class="close"><span class="close">&times;</span></div>
    <h3 class="modal-title">修改话题</h3>
    <div class="modal-subtitle">最多只能为一个问题绑定5个话题</div>
    <div class="modal-content">
    <div class="input-wrapper">
      <div class="tags" data="<%= @question.id %>">
        <% @question.topics.each do |t| %>
          <div class="tag" data="<%= t.id %>"><%= t.name %><span data-role="remove"></span></div>
        <% end %>
      </div>
      <input class="search-tag" type="text" name="tag" placeholder="搜索">
    </div>
    <div class="search-result"></div>
    <div class="modal-buttons">
      <button class="save-button button">保存</button>
    </div>
    </div>
    </div>
  </div>
  </script>
</div>


